a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

p {
    line-height: 1.5;
}

h2.titulo-verde {
    montserrat(28, light);
    color: $verde;
    margin: 0;
    text-align: center;

    +below($tablet) {
        font-size: 24px;
    }

    +mobile() {
        font-size: 20px;
    }
}