desktop-base-width = 1200px;
rupture.desktop-cutoff = $tablet = 1200px;
rupture.mobile-cutoff = $mobile = 768px;
rupture.anti-overlap = -1px;

$vermelhoError = #E02227;
$verdeSuccess = #2caf2c;
$verde = #76C04E;
$verdeClaro = #E2E8DF;
$cinzaEscuro = #606062;
$cinzaMedio = #8D8F92;
$cinzaClaro = #F2F4F0;
$textoClaro = #CCCCCC;
$bordaCinza = rgba(#fff, 0.3);
$verdeServ = #76C04E;
$verdeEng = #00986F;
$verdeUni = #75846F;

@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;800&family=Open+Sans:wght@300;400;500;600;800&display=swap');

opensans($size, $weight = normal) {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == thin) {
        font-weight: 300;
    }

    if ($weight == medium) {
        font-weight: 500;
    }

    if ($weight == bold) {
        font-weight: 600;
    }

    if ($weight == extrabold) {
        font-weight: 800;
    }
}

montserrat($size, $weight = normal) {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == thin) {
        font-weight: 100;
    }

    if ($weight == light) {
        font-weight: 300;
    }

    if ($weight == medium) {
        font-weight: 500;
    }

    if ($weight == bold) {
        font-weight: 600;
    }

    if ($weight == extrabold) {
        font-weight: 800;
    }
}