main.contrate {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: -290px;

    +below($tablet) {
        margin-top: -245px;
    }

    +mobile() {
        margin-top: 0;
    }

    .informacoes {
        width: 850px;
        height: auto;
        min-height: 650px;
        margin-left: auto;
        padding: 40px 0;
        position: relative;

        +below($tablet) {
            width: 72%;
            min-height: 580px;
        }

        +mobile() {
            width: 100%;
            min-height: 500px;
            padding: 50px 0 40px 0;
        }

        .titulo-pagina {
            montserrat(36, bold);
            color: $verde;
            margin: 0;

            +below($tablet) {
                font-size: 28px;
            }

            +mobile() {
                font-size: 22px;
            }

            .img-seta {
                +mobile() {
                    width: 22px;
                    height: auto;
                }
            }
        }

        .frase {
            opensans(16);
            color: $cinzaEscuro;
            margin: 25px 0;

            +below($tablet) {
                font-size: 14px;
                margin: 20px 0;
            }

            +mobile() {
                font-size: 12px;
                margin: 15px 0;
            }
        }

        .img-contrate {
            width: 100%;
            height: auto;
            object-fit: contain;
            position: relative;
            margin-bottom: 60px;

            +below($tablet) {
                margin-bottom: 40px;
            }

            +mobile() {
                margin-bottom: 30px;
            }
        }

        .form-contrate {
            width: 380px;
            height: auto;
            background-color: $verdeClaro;
            padding: 30px;
            position: absolute;
            top: 195px;
            right: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            z-index: 201;

            +below($tablet) {
                width: 45%;
                padding: 25px 20px;
                top: 160px;
                right: 30px;
            }

            +mobile() {
                width: 55%;
                top: 135px;
                right: 10px;
                padding: 15px 10px;
                z-index: 1;
            }

            input[type=text], input[type=email] {
                width: 100%;
                height: 35px;
                outline: 0;
                border: 0;
                padding: 0 10px;
                margin-bottom: 5px;
                background-color: #FFF;
                border: none;
                border-radius: 0;
                opensans(16);
                color: $cinzaEscuro;
                transition: 0.2s ease;

                +below($tablet) {
                    height: 30px;
                    font-size: 13px;
                }

                +mobile() {
                    font-size: 12px;
                }

                +placeholder() {
                    opensans(16);
                    color: $cinzaEscuro;
                    transition: 0.2s ease;

                    +below($tablet) {
                        font-size: 13px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }
                }

                &:hover, &:focus {
                    font-weight: 600;

                    +placeholder() {
                        font-weight: 600;
                    }
                }
            }

            textarea {
                width: 100%;
                height: 160px;
                background-color: #FFF;
                outline: 0;
                border: 0;
                padding: 10px;
                resize: none;
                margin: 0;
                opensans(16);
                color: $cinzaEscuro;
                transition: 0.2s ease;

                +below($tablet) {
                    height: 120px;
                    font-size: 13px;
                }

                +mobile() {
                    font-size: 12px;
                    height: 100px;
                }

                +placeholder() {
                    opensans(16);
                    color: $cinzaEscuro;
                    transition: 0.2s ease;

                    +below($tablet) {
                        font-size: 13px;
                    }
                }

                &:hover, &:focus {
                    font-weight: 600;

                    +placeholder() {
                        font-weight: 600;
                    }
                }
            }

            button[type=submit] {
                width: auto;
                height: auto;
                margin: 15px;
                outline: 0;
                border: none;
                background-color: transparent;
                cursor: pointer;
                transition: transform 0.3s ease;

                +below($tablet) {
                    margin: 10px;
                }

                &:hover {
                    transform: rotate(360deg) scale(1.2);
                }
            }

            .flash {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin: 0;
                height: 40px;
                width: 100%;
                opensans(12);
                color: #FFF;
                padding: 10px;
                border-radius: 0;
                text-align: center;

                +mobile() {
                    font-size: 10px;
                }

                &.flash-erro {
                    border: none;
                    background: $vermelhoError;
                    color: #fff;
                }

                &.flash-sucesso {
                    border: none;
                    background: $verdeSuccess;
                    color: #fff;
                }
            }
        }

        .link-telefone {
            display: block;
            montserrat(20, bold);
            color: $cinzaEscuro;
            margin: 0 0 5px 0;
            transition: 0.3s ease;

            +below($tablet) {
                font-size: 16px;
            }

            +mobile() {
                width: 40%;
                margin: 0 auto 0 0;
                font-size: 14px;
            }

            &:hover {
                color: $verde;
            }
        }

        .atendimento {
            opensans(12);
            color: $cinzaEscuro;
            font-style: italic;
            margin: 0;

            +below($tablet) {
                font-size: 10px;
            }

            +mobile() {
                width: 40%;
                margin: 0 auto 0 0;
                white-space: pre-wrap;
                font-size: 9px;
            }
        }

        .edc-group {
            margin-top: 90px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            +below($tablet) {
                margin-top: 50px;
                flex-direction: column;
                align-items: flex-start;
            }

            +mobile() {
                width: 40%;
                margin: 30px auto 0 0;
            }

            .endereco-completo {
                margin-left: 20px;

                +below($tablet) {
                    margin-left: 0;
                    margin-top: 10px;
                }

                .endereco {
                    opensans(14);
                    color: $cinzaEscuro;
                    margin: 0;
                    line-height: 1.4;
                    white-space: nowrap;

                    +below($tablet) {
                        font-size: 12px;
                    }

                    +mobile() {
                        font-size: 10px;
                        white-space: pre-wrap;
                    }
                }
            }
        }
    }

    .mapa {
        width: 100%;
        height: 440px;
        margin: 40px 0 80px 0;

        +below($tablet) {
            height: 350px;
            margin: 10px 0 50px 0;
        }

        +mobile() {
            height: 250px;
            margin: 10px 0 40px 0;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.work_for_us
    margin-top: 30px
    background-color: #76c04d
    cursor: pointer
    &:hover 
        background-color: #606062
    h1
        margin: 0
        padding-top: 15px
        padding-left: 20px
        padding-right: 20px
        montserrat 18
        color: white
    p
        opensans 16
        padding-left: 20px
        padding-right: 20px
        padding-bottom: 15px
        color: white
        margin: 0
        margin-top: 5px