main.home {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: -290px;

    +below($tablet) {
        margin-top: -245px;
    }

    +mobile() {
        margin-top: 0;
    }

    .banners {
        width: auto;
        height: 560px;
        margin-left: calc('((100% - 1200px) / 2) + 230px + 30px');
        position: relative;

        +below($tablet) {
            height: 400px;
            margin-left: calc('5% + 20% + 20px');
        }

        +mobile() {
            height: 200px;
            margin-left: 0;
        }

        .banner {
            width: 100%;
            height: 100%;
            background-size: cover;
            position: relative;

            .overlay-textos {
                width: 50%;
                height: auto;
                position: absolute;
                top: 20%;
                left: 18%;

                +below($tablet) {
                    top: 25%;
                    left: 20%;
                }

                +mobile() {
                    width: 65%;
                    top: 10px;
                    left: 18%;
                }

                .titulo {
                    montserrat(16, thin);
                    color: #FFF;
                    text-transform: uppercase;
                    margin: 0 0 18px 0;

                    +below($tablet) {
                        font-size: 12px;
                        margin: 0 0 10px 0;
                    }

                    +mobile() {
                        margin: 0 0 5px 0;
                    }
                }

                .linha-banner {
                    width: 200px;
                    border: none;
                    border-bottom: 1px solid $bordaCinza;
                    margin: 0;

                    +below($tablet) {
                        width: 150px;
                    }

                    +mobile() {
                        width: 100px;
                    }
                }

                .frase {
                    montserrat(24, extrabold);
                    color: #FFF;
                    line-height: 1.4;
                    text-transform: uppercase;
                    margin: 12px 0;

                    +below($tablet) {
                        font-size: 16px;
                    }

                    +mobile() {
                        font-size: 12px;
                        font-weight: 600;
                        margin: 5px 0;
                    }
                }
            }
        }

        .cycle-pager {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: absolute;
            bottom: 35%;
            left: 18%;
            z-index: 500;
            padding: 0;
            background: transparent;
            margin: 5px;

            +below($tablet) {
                bottom: 30%;
                left: 20%;
            }

            +mobile() {
                bottom: 25%;
                left: 18%;
            }

            span {
                height: 8px;
                width: 8px;
                border-radius: 50%;
                float: left;
                color: transparent;
                background-color: transparent;
                transition-property: background-color;
                transition-duration: 300;
                border: 1px solid #FFF;
                cursor: pointer;
                margin: 0 5px 0 0;

                +below($tablet) {
                    width: 7px;
                    height: 7px;
                }

                &:hover, &.cycle-pager-active {
                    background-color: #FFF;
                }
            }
        }
    }

    .terceiros-e-temporarios {
        margin: 40px 0 60px 0;

        +below($tablet) {
            margin: 40px 0;
        }

        .center {
            padding: 0 35px;

            +below($tablet) {
                padding: 0;
            }

            .img-terceiros {
                width: 100%;
                height: auto;
                object-fit: contain;
            }

            .itens-home {
                width: 92%;
                height: auto;
                margin: -10px 0 0 auto;
                -moz-column-count: 2;
                -moz-column-gap: 10%;
                -webkit-column-count: 2;
                -webkit-column-gap: 10%;
                column-count: 2;
                column-gap: 10%;

                +below($tablet) {
                    width: 95%;
                    -moz-column-gap: 5%;
                    -webkit-column-gap: 5%;
                    column-gap: 5%;
                }

                +mobile() {
                    width: 100%;
                    margin: 0 auto 0 5%;
                    -moz-column-count: 1;
                    -moz-column-gap: 0;
                    -webkit-column-count: 1;
                    -webkit-column-gap: 0;
                    column-count: 1;
                    column-gap: 0;
                }

                .item {
                    opensans(16, medium);
                    color: $cinzaEscuro;
                    margin: 0;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                    }

                    span {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .contratar {
        width: 100%;
        height: auto;
        background-color: $cinzaClaro;
        padding: 65px 0 50px 0;

        +below($tablet) {
            padding: 40px 0;
        }

        .motivos {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 40px 0;
            border-bottom: 1px solid $verde;

            +mobile() {
                flex-direction: column;
                align-items: center;
                padding: 30px 0;
            }

            .motivo {
                width: 220px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 50px;

                +below($tablet) {
                    width: 30%;
                    margin: 0 30px;
                }

                +mobile() {
                    width: 100%;
                    margin: 0 0 30px 0;
                }

                .img-motivo {
                    width: auto;
                    height: auto;
                    object-fit: contain;
                    margin-bottom: 30px;

                    +mobile() {
                        margin-bottom: 15px;
                    }
                }

                .frase-motivo {
                    opensans(16);
                    color: $cinzaEscuro;
                    text-align: center;
                    margin: 0;
                    padding: 0 10px;
                    line-height: 1.4;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                        padding: 0 10%;
                    }
                }
            }
        }

        .informacoes {
            width: 100%;
            margin: 40px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: center;

            +below($tablet) {
                margin: 30px 0 0 0;
            }

            +mobile() {
                flex-direction: column;
            }

            .img-selo, .img-edc-slogan {
                width: auto;
                height: auto;
                object-fit: contain;
                margin: 0 25px;

                +below($tablet) {
                    max-width: 25%;
                    margin: 0 15px;
                }

                +mobile() {
                    max-width: 70%;
                    margin: 0 0 15px 0;
                }
            }

            .frase-selo {
                width: 260px;
                height: auto;
                opensans(12, bold);
                color: $verde;
                font-style: italic;
                margin: 0 25px;
                line-height: 1.4;

                +below($tablet) {
                    width: 22%;
                    font-size: 10px;
                    margin: 0 15px;
                }

                +mobile() {
                    width: 100%;
                    margin: 0 0 15px 0;
                }
            }

            .sobre-edc {
                margin: 0 25px;

                +below($tablet) {
                    margin: 0 15px;
                }

                +mobile() {
                    margin: 0;
                }

                .itens-edc {
                    opensans(12, bold);
                    color: $verde;
                    font-style: italic;
                    margin: 0 0 5px 0;

                    +below($tablet) {
                        font-size: 10px;
                    }
                }

                div {
                    transform: skewX(-20deg);

                    .link-edc {
                        padding: 5px 30px;
                        border: 1px solid $verde;
                        opensans(12, bold);
                        color: $verde;
                        font-style: italic;
                        transition: 0.3s ease;

                        +below($tablet) {
                            padding: 5px 25px;
                            font-size: 10px;
                        }

                        &:hover {
                            background-color: $verde;
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }

    .vagas {
        width: 100%;
        height: 300px;
        margin: 50px 0 80px 0;
        background-color: $verdeClaro;
        padding: 10px 0;

        +below($tablet) {
            height: 250px;
            margin: 40px 0;
        }

        +mobile() {
            height: auto;
        }

        .center {
            display: flex;
            align-items: center;
            justify-content: center;

            +mobile() {
                flex-direction: column;
            }

            .img-terceiros {
                width: 600px;
                height: 280px;
                object-fit: cover;

                +below($tablet) {
                    width: 50%;
                    height: 100%;
                }

                +mobile() {
                    width: 100%;
                    height: auto;
                }
            }

            .sobre-vagas {
                padding: 0 90px;

                +below($tablet) {
                    padding: 0 90px 0 50px;
                }

                +mobile() {
                    padding: 15px;
                }

                .titulo-vagas {
                    montserrat(36, bold);
                    color: $verde;
                    margin: 0 0 10px 0;

                    +below($tablet) {
                        font-size: 28px;
                    }

                    +mobile() {
                        font-size: 24px;
                        text-align: center;
                    }

                    .img-seta {
                        width: auto;
                        height: auto;

                        +below($tablet) {
                            width: 22px;
                        }
                    }
                }

                .frase-vagas {
                    opensans(16);
                    color: $cinzaEscuro;
                    line-height: 1.4;
                    margin: 0;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    +mobile() {
                        font-size: 12px;
                        text-align: center;
                    }
                }

                div {
                    transform: skewX(-20deg);
                    margin: 25px 0 0 0;

                    +mobile() {
                        margin: 20px 0 0 0;
                        text-align: center;
                    }

                    .link-vagas {
                        padding: 10px 30px;
                        border: 1px solid $verde;
                        opensans(14, bold);
                        color: $verde;
                        font-style: italic;
                        transition: 0.3s ease;

                        +mobile() {
                            padding: 5px 20px;
                            font-size: 12px;
                        }

                        &:hover {
                            background-color: $verde;
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }

    .grupo-edc {
        width: 100%;
        height: auto;
        padding: 65px 0 85px 0;
        background-color: $cinzaEscuro;
        position: relative;

        +below($tablet) {
            padding: 60px 0;
        }

        +mobile() {
            padding: 40px 0;
        }

        .frase-grupo {
            opensans(14);
            color: #FFF;
            text-align: center;
            letter-spacing: 5px;
            margin: 0;

            +below($tablet) {
                font-size: 12px;
            }

            +mobile() {
                letter-spacing: 3px;
            }
        }

        .grupo {
            width: 100%;
            height: 270px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            position: relative;

            +below($tablet) {
                height: 210px;
            }

            +mobile() {
                height: auto;
                flex-direction: column;
            }

            .edc-servicos, .edc-engenharia, .edc-uni {
                width: calc('(100% - 20px) / 3');
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 30px;
                position: relative;

                +below($tablet) {
                    padding: 20px;
                }

                +mobile() {
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                }

                .img-logo {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    object-fit: contain;

                    +below($tablet) {
                        max-width: 80%;
                        max-height: 45px;
                    }

                    +mobile() {
                        max-width: 70%;
                    }
                }

                .servicos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 40px;
                    opensans(16, bold);
                    color: #FFF;
                    position: relative;

                    +below($tablet) {
                        margin-top: 20px;
                        font-size: 12px;
                    }

                    > p {
                        margin: 0 0 15px 0;
                    }

                    .linha-divisao {
                        width: 165px;
                        border: none;
                        border-bottom: 1px solid #FFF;
                        margin: 0;
                        position: absolute;

                        +below($tablet) {
                            width: 50%;
                        }

                        &.l1 {
                            top: 30px;

                            +below($tablet) {
                                top: 25px;
                            }
                        }

                        &.l2 {
                            top: 70px;

                            +below($tablet) {
                                top: 60px;
                            }
                        }
                    }
                }

                .link-servicos, .link-engenharia, .link-uni {
                    width: 150px;
                    height: 20px;
                    position: absolute;
                    bottom: -10px;
                    left: calc('(100% - 135px) / 2');
                    border: 1px solid #FFF;
                    border-radius: 10px;
                    opensans(12);
                    color: #FFF;
                    display: flex;
                    align-items: center;
                    padding: 0 10px 0 25px;
                    margin: 0;
                    background: $img('icone-website.svg') no-repeat 8px / 13px transparent;
                    transition: all 0.3s ease;

                    +below($tablet) {
                        font-size: 10px;
                    }
                }

                .link-servicos {
                    background-color: $verdeServ;
                }

                .link-engenharia {
                    background-color: $verdeEng;
                }

                .link-uni {
                    background-color: $verdeUni;
                }

                &:hover {
                    .link-servicos {
                        color: $verdeServ;
                        border: 1px solid $verdeServ;
                        background: $img('icone-website-serv.svg') no-repeat 8px / 13px #FFF;
                    }

                    .link-engenharia {
                        color: $verdeEng;
                        border: 1px solid $verdeEng;
                        background: $img('icone-website-eng.svg') no-repeat 8px / 13px #FFF;
                    }

                    .link-uni {
                        color: $verdeUni;
                        border: 1px solid $verdeUni;
                        background: $img('icone-website-uni.svg') no-repeat 8px / 13px #FFF;
                    }
                }
            }

            .edc-servicos {
                background-color: $verdeServ;
            }

            .edc-engenharia {
                background-color: $verdeEng;
            }

            .edc-uni {
                background-color: $verdeUni;
            }
        }
    }
}