main.servicos {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: -290px;

    +below($tablet) {
        margin-top: -245px;
    }

    +mobile() {
        margin-top: 0;
    }

    .servico {
        width: calc('100% - 230px');
        margin: 0 0 0 auto;
        padding: 45px 0 0 120px;

        +below($tablet) {
            width: 80%;
            padding: 40px 0 0 80px;
        }

        +mobile() {
            width: 100%;
            padding: 50px 0 0 0;
        }

        .img-capa {
            width: auto;
            height: auto;
            object-fit: contain;
            max-width: 625px;

            +below($tablet) {
                max-width: 75%;
            }

            +mobile() {
                max-width: 90%;
            }
        }

        .texto {
            opensans(16);
            color: $cinzaEscuro;
            padding: 15px 40% 0 0;

            +below($tablet) {
                font-size: 13px;
                padding: 10px 35% 0 0;
            }

            +mobile() {
                font-size: 12px;
                padding: 10px 0 0 0;
            }

            > p {
                line-height: 1.7;
                margin: 0 0 20px 0;

                +below($tablet) {
                    margin: 0 0 15px 0;
                }
            }
        }

        .img-servico {
            width: auto;
            height: auto;
            object-fit: contain;
            max-width: 100%;
            margin-top: -15px;

            +below($tablet) {
                margin-top: -10px;
                max-width: 90%;
            }

            +mobile() {
                margin-top: 0;
                max-width: 100%;
            }
        }

        .titulo-vantagens {
            montserrat(22, bold);
            color: $verde;
            margin: 25px 0;

            +below($tablet) {
                font-size: 16px;
                margin: 20px 0;
            }

            +mobile() {
                font-size: 14px;
            }
        }

        .vantagens {
            opensans(16);
            color: $cinzaEscuro;
            padding: 0 50% 0 0;

            +below($tablet) {
                font-size: 13px;
                padding: 0 35% 0 0;
            }

            +mobile() {
                font-size: 12px;
                padding: 0;
            }

            > p {
                line-height: 1;
                margin: 0 0 10px 0;

                > strong {
                    font-weight: 600;
                    color: $verde;
                    padding: 20px 0 0 0;

                    +below($tablet) {
                        padding: 15px 0 0 0;
                    }
                }
            }

            > ul {
                margin: 0 0 20px 0;
                list-style-position: inside;
                padding: 0;

                +below($tablet) {
                    margin: 0 0 15px 0;
                }

                > li {
                    line-height: 1.4;

                    &::marker {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .mais-infos {
        width: 100%;
        height: auto;
        background-color: $verdeClaro;
        margin: 80px 0;
        padding: 65px 0;

        +below($tablet) {
            margin: 50px 0;
            padding: 50px 0;
        }

        +mobile() {
            margin: 40px 0;
            padding: 40px 0;
        }

        .center {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;

            +mobile() {
                flex-direction: column;
                align-items: center;
            }

            .frase {
                montserrat(28, light);
                color: $cinzaEscuro;
                margin: 0;
                width: 260px;
                text-align: end;

                +below($tablet) {
                    width: 22%;
                    font-size: 20px;
                }

                +mobile() {
                    width: 100%;
                    font-size: 16px;
                    text-align: center;
                }

                .img-seta {
                    width: auto;
                    height: auto;
                    margin-left: 5px;

                    +mobile() {
                        width: 16px;
                    }
                }
            }

            .form-servicos {
                display: flex;
                align-items: flex-start;
                justify-content: center;

                +below($tablet) {
                    width: 70%;
                }

                +mobile() {
                    width: 100%;
                    flex-direction: column;
                    margin-top: 15px;
                }

                .dados {
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-right: 5px;

                    +below($tablet) {
                        width: 40%;
                    }

                    +mobile() {
                        width: 100%;
                    }

                    input[type=text], input[type=email] {
                        width: 100%;
                        height: 45px;
                        outline: 0;
                        border: 0;
                        padding: 0 20px;
                        margin-bottom: 5px;
                        background-color: #EAEEE7;
                        border: none;
                        border-radius: 0;
                        opensans(16);
                        color: $cinzaEscuro;
                        transition: 0.2s ease;

                        +below($tablet) {
                            height: 40px;
                            padding: 0 15px;
                            font-size: 13px;
                        }

                        +mobile() {
                            font-size: 12px;
                        }

                        +placeholder() {
                            opensans(16);
                            color: $cinzaEscuro;
                            transition: 0.2s ease;

                            +below($tablet) {
                                font-size: 13px;
                            }

                            +mobile() {
                                font-size: 12px;
                            }
                        }

                        &:hover, &:focus {
                            font-weight: 600;

                            +placeholder() {
                                font-weight: 600;
                            }
                        }
                    }
                }

                textarea {
                    width: 450px;
                    height: 145px;
                    background-color: #EAEEE7;
                    outline: 0;
                    border: 0;
                    padding: 20px;
                    resize: none;
                    margin: 0 5px 0 0;
                    opensans(16);
                    color: $cinzaEscuro;
                    transition: 0.2s ease;

                    +below($tablet) {
                        width: 50%;
                        height: 130px;
                        padding: 15px;
                        font-size: 13px;
                    }

                    +mobile() {
                        width: 100%;
                        font-size: 12px;
                    }

                    +placeholder() {
                        opensans(16);
                        color: $cinzaEscuro;
                        transition: 0.2s ease;

                        +below($tablet) {
                            font-size: 13px;
                        }

                        +mobile() {
                            font-size: 12px;
                        }
                    }

                    &:hover, &:focus {
                        font-weight: 600;

                        +placeholder() {
                            font-weight: 600;
                        }
                    }
                }

                button[type=submit] {
                    width: 70px;
                    height: 145px;
                    margin: 0;
                    outline: 0;
                    border: none;
                    background-color: #EAEEE7;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: transform 0.3s ease;

                    +below($tablet) {
                        width: 10%;
                        height: 130px;
                    }

                    +mobile() {
                        width: 100%;
                        height: 40px;
                        margin-top: 5px;
                    }

                    .img-enviar {
                        width: 23px;
                        height: auto;
                        transition: transform 0.3s ease;

                        +mobile() {
                            width: 22px;
                        }
                    }

                    &:hover {
                        .img-enviar {
                            transform: rotate(360deg) scale(1.2);
                        }
                    }
                }
            }
        }

        .flash {
            width: 1200px;
            height: 40px;
            margin: 20px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            opensans(12);
            color: #FFF;
            padding: 10px;
            border-radius: 0;
            text-align: center;

            +below($tablet) {
                width: 90%;
                margin: 10px auto;
            }

            &.flash-erro {
                border: none;
                background: $vermelhoError;
                color: #fff;
            }

            &.flash-sucesso {
                border: none;
                background: $verdeSuccess;
                color: #fff;
            }
        }
    }
}